*{
    margin:0;
    font-family: "Tsukimi Rounded", serif;
    font-weight: 300;
    font-style: normal;
}
body{
    background-color: #e3e3e3;
}
.nav{
    height:40px;
    display:flex;
    justify-content: space-between;
    background-color:#FFF;
    align-items: center;
    padding:10px 80px;
}
.logo{
    font-size:35px;
    font-weight:bold;
}
.span1{
    color:#FF8f52;
}
.span2{
    color:#121212;
}
.menu-btns{
    width:70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-btns a{
    text-decoration:none;
    font-size:20px;
    color:#000;
}
.menu-btns a:hover{
    color:#FF8F52;
}
.item-btn-7{
    background-color:orange;
    padding:7px;
    color:white !important;
    display: flex;
    align-items: center;
    border-radius:4px;
    align-items: space-between;
}
.item-btn-1{
    color:blue !important;
}
.introduction{
    padding:20px 80px;
    display:flex;
    justify-content: space-between;
}
.intro-item{
    width:48%;
}
.intro-l-1{
    font-size:60px;
    color:#121212;
}
.intro-l-2{
    font-size:20px;
    color:#838383;
    margin:40px 0px;
}
.intro-l-3{
    width:103px;
    height:40px;
    border-radius:5px;
    background-color:#FF8F52;
    font-size:18px;
    color:#FFFFFF;
   border:none;
}
.intro-right div{
    display:flex;
    justify-content: flex-end;
}
.intro-right img {
    width:152px;
    height:152px;
    border-radius:10px;
    margin:3px;
}
.common-sect h2{
    text-align: center;
}
.sec-tittle{
    position: relative;
    padding-bottom: 80px;
}
.sec-tittle hr{
    width: 600px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    border:1px solid blue;
}
.sec-tittle h2{
    width: 150px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    background-color: #e3e3e3;
}
.common-sect{
    margin:50px 80px;
}
.best-cards{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
} 
.card-item{
    flex: 0 0 calc(25% - 50px);
    height:330px;
    background-color: #FFFFFF;
    border-radius:5px;
    padding:15px;
}
.card-item .main-img{
    width:100%;
}
.card-item-title{
    font-size: 18px;
}
.card-item-bot{
    display: flex;
    justify-content: space-between;
    padding-top:30px;
    font-size: 13px;
}
.card-item-bot div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item-bot a{
    color:#FF8f52;
    text-decoration: none;
    padding-left: 5px;
}
/* Lastest posts */
.posts{
    display: flex;
    justify-content: space-between;
}
.post-item{
    flex: 0 0 calc(33.33% - 50px);
    height:470px;
    background-color: #FFFFFF;
    border-radius:5px;
}
.post-item-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.post-avatar{
    display: flex;
    align-items: center;
}
.post-avatar span{
    margin-left:5px;
}
.post-date{
    font-size:16px;
    color:#838383;
}
.post-img img{
    width: 100%;
}

.post-info {
    padding: 10px;
}
.post-tittle{
    font-size:20px;
    color:#000;
}
.post-des{
    font-size:16px;
    color:#838383;
}
.post-item-footer{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.post-react{
    display:flex;
    justify-content:space-between;
    align-items: center;
    color:#838383;
    font-size:12px;
}
.post-react div{
    margin:0px 6px;
}
.post-item-footer a{
    text-decoration:none;
    color:#000;
    font-size: 18px;
}
.feedback-item{
    flex: 0 0 calc(33.33% - 50px);
    display:flex;
    background-color: #FFF;
    padding:15px;
    border-radius:5px;
}
.fb-info{
    padding-left:15px;
}
.fb-info-name{
    font-weight:bold;
    padding: 15px 0px;
}
.fb-info-content{
    color:#838383;
}
.fb-info-rating{
    padding:15px 0px; 
}
.feedbacks{
    display: flex;
    justify-content: space-between;
}

footer{
    display:flex;
    justify-content: space-between;
    padding:20px 80px;
    background-color:#454545;
    color:#D9D9D9;
    font-size:15px;
}
footer .logo{
    font-size:30px;
}

.foot-shop-info p {
    font-size: 13px;
}
.foot-shop-info{
    width:50%;
}
.foot-link{
    display: flex;
    flex-direction: column;
}
.foot-link a{
    color:#D9D9D9;
    text-decoration: none;
}
.foot-contact div{
    margin:10px 0px;
    display:flex;
    align-items: center;
}
.foot-contact img{
    margin-right: 15px;
}
.active{
    color:#FF8F52 !important;
}

.media-list {
    display: flex;
    justify-content: center;
}

.media-list iframe {
    margin: 20px;
    border: 3px solid rgb(124, 124, 202);
    border-radius: 10px;
}
.tab-info-container{
    width:800px;
    height:500px;
    border:1px solid blue;
    margin: 20px auto;
}
.btn-tabs{
    display:flex;
}
.btn-tabs div{
    border:1px solid darkblue;
    padding:8px 20px;
    background-color:rgb(189, 233, 249);
    border-radius: px 5px 0px 0px;
    cursor: pointer;
    margin:0px 5px;
    transition:all 0.5s;
    color:white;
}
.btn-tabs div:hover {
    background-color:mediumblue;
}

.tab-content {
    height: 100%;
    background-color:lightcyan;
    overflow: auto;
}
.active-tab2{
    background-color:rgb(0, 0, 147) !important;
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 350px;
    /* display: inline-block; */
    text-align: center;
    font-family: sans-serif;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 10px auto;
    background-color: white;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.card p {
    font-size: 12px;
    color: #555;
}


